name: Dotnet Tests

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore StitchLens.sln

      - name: Build
        run: dotnet build StitchLens.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test StitchLens.sln --configuration Release --no-build

      - name: Launch-Critical Tests
        run: dotnet test StitchLens.sln --configuration Release --no-build --filter "Category=LaunchCritical"
